[sim]
modelname = proto
#max_steps = 30000
max_time_in_yr = 1000000
#max_time_in_yr = 10

output_time_interval_in_yr = 20000
output_step_interval = 0

has_output_during_remeshing = no
is_outputting_averaged_fields = no

[mesh]
meshing_option = 91
poly_filename = ./proto_pacific.poly
meshing_sediment = no

xlength = 1000e3
ylength = 1000e3
zlength = 100e3
resolution = 20e3
largest_size = 50e3
smallest_size = 5e3

quality_check_step_interval = 500

min_angle = 30.
min_quality = 0.2
max_boundary_distortion = 1e0
remeshing_option = 11
is_discarding_internal_segments = yes

[control]
surface_process_option = 0
surface_diffusivity = 1e-20

dt_fraction = 1.0
inertial_scaling = 1e5

has_ATS = true
damping_option=4

 [bc]
# Left (BOUNDX0): vn=vl=vz=0
vbc_x0 = 3
vbc_val_x0 = 0

# Right (BOUNDX1): vn=0, vl=4.44e-9, vz=0
vbc_x1 = 5
vbc_val_x1 = 4.44e-09

# Front/south (BOUNDY0): vn=2.24e-9, vl=2.24e-9, vz=0
vbc_y0 = 6
vbc_val_y0 = 2.24e-09
vbc_val_y0_l = 2.24e-09

# Back/north (BOUNDY1): vn=3.14e-9, vl=-3.14e-9, vz=0
vbc_y1 = 6
vbc_val_y1 = 3.14e-09
vbc_val_y1_l = -3.14e-09

# Bottom (BOUNDZ0): vz=0, vx/vy free
vbc_z0 = 1
vbc_val_z0 = 0

# Top (BOUNDZ1): vz=0, vx/vy free
vbc_z1 = 1
vbc_val_z1 = 0

has_winkler_foundation = false
has_water_loading = no

surface_temperature = 273
mantle_temperature = 273

[ic]
weakzone_plstrain = 0.0

[mat]
rheology_type = elasto-plastic
num_materials = 1
rho0 = [3300]
alpha = [0]
bulk_modulus = [70e9]
shear_modulus = [50e9]
pls0 = [0]
pls1 = [0.5]
cohesion0 = [44e6]
cohesion1 = [4e6]
friction_angle0 = [30]
friction_angle1 = [30]
dilation_angle0 = [0]
dilation_angle1 = [0]
